.welcome__menu-item {
  display: block;
  text-align: center;

}

.welcome__menu-item__container {
  display: block;
  padding: 0.5rem;
}

.welcome__menu-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.welcome__menu-item__icon {
  display: block;
}

.welcome__menu-item__content {
  display: block;
}
