.func-bar {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  height: 100%;
}
