.footer {
  display: block;
  height: 28px;
  box-shadow: 0px -6px 6px 0px rgba(29, 29, 29, 0.2);
  -webkit-user-select: none;
}

.footer__group-right {
  display: inline-flex;
  position: absolute;
  right: 0;
  float: right;
}

.tooter__item {
  line-height: 28px;
  align-items: center;
  margin: 0 5px;
}
