.footer {
  display: block;
  height: 28px;
  -webkit-user-select: none;
}

.footer__group-left {
  display: inline-flex;
  position: relative;
  left: 0;
  float: left;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.time {
  display: inline-block;
  position: relative;
  line-height: 28px;
  height: 28px;
  text-align: center;
}

.footer__group-right {
  display: inline-flex;
  position: relative;
  right: 0;
  float: right;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer__item {
  height: 100%;
  line-height: 28px;
  align-items: center;
  margin: 0 4px;
}
