.welcome {
  height: calc(100vh - 30px);
  overflow: hidden;
  -webkit-user-select: none;
}

.welcome__sider {
  background: #1890ff;
}

.welcome__sider-title {
  margin-top: 5rem;
  color: white;
  text-align: center;
}

.welcome__sider-menu {
  background: #1890ff;
}

.welcome__content {
  margin-top: 5rem;
  margin-left: 1rem;
}
