.welcome {
  display: flex;
  height: calc(100vh - 30px);
  overflow: hidden;
  -webkit-user-select: none;
}

.welcome__sider {
  display: block;
}

.welcome__content {
  flex: 1;
  display: block;
  margin-top: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.welcome__content h2 {
  display: block;
}

.welcome__recent-files {
  display: block;
}

.welcom__clear {
  text-align: right;
}

.welcom__clear a {
  display: inline;
}
