.content {
  height: calc(100vh - 11.3rem);
  -webkit-user-select: none;
}

.notaiton-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  height: 100%;
  text-align: center;
  overflow-y: scroll;
}
