.content {
  -webkit-user-select: none;
}

.notaiton-container {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.notaion-outer {
  display: flex;
}
.notation {
  display: inline-flex;
  margin: 0 auto;
}
