.liner {
  display: inline-block;
  position: relative;
  right: 0;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.pop-item {
  padding: 2px 5px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.pop-item:hover {
  background: rgba(128, 128, 128, 0.3);
}
