.header {
  top: 0;
  display: block;
  height: 30px;
  background: none;
  overflow: visible;
  -webkit-user-select: none;
  box-shadow: 0px 6px 6px 0px rgba(29, 29, 29, 0.2);
}

.header__drag-region {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  -webkit-app-region: drag;
}

.header__window-title {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.header__controls {
  position: absolute;
  right: 0;
  display: inline-flex;
  float: right;
  -webkit-app-region: no-drag;
}

.window-icon {
  line-height: 30px;
  height: 100%;
  width: 42px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.hover-red:hover {
  background: rgba(255, 45, 45, 1);
}

.hover-gray:hover {
  background: rgba(255, 255, 255, 0.2);
}

.display-popup__item {
  padding: 0.5rem;
}

.display-popup__item:hover {
  cursor: pointer;
}
